.bold {
	font-weight: bold;
}
/* 왜 클래스 이름을 숫자로 시작하면
	적용이 안 되는 거지??? */
.ft14 {
	font-size: 14px;
}
.ft13 {
	font-size: 13px;
}
.ft12 {
	font-size: 12px;
}
.gray {
	color: gray;
}
.lightgray {
	color: lightgray;
}
.yellow {
	color: #ebaa00;
}
.mleft8px {
	margin-left: 8px;
}

.borderbottom {
	border-bottom: 1px solid #e4e8eb;
}

.floatr {
	float: right;
}

.clearfloat {
	clear: both;
}

#pad {
 	padding: 0 0 0 20px; 
	width: 750px;
}
#content {
	display: inline-block;
	width: 750px;
	margin: 0 auto;
	text-align: center;
	font-size: 0px;
}

#title {
	display: block;
	padding: 0 0 17px;
}
/* 네이버에서는
	lefttitle, righttitle 부분을
	왜 inline-block이 아닌 
	block으로 했는지 궁금함 */
#lefttitle {
	display: inline-block;
	width: 290.22px;
	float: left;
}
#righttitle {
	display: inline-block;
	width: 170.75px;
	clear: left;
	position: relative;
	right: -156px;
}

/* 나중에 이 메뉴버튼부분 
	목록(ul)으로 다시 해보기 */
#titlemenu {
	display: block;
}
/* 
이 부분 선생님 코드

menu {
	border: 1px solid gray;
	width: 750px;
	height: 49px;
	overflow: hidden;
	font-size: 0pt;
}
(.menubtn에 클래스 nowrap 줌)
.nowrap {
	white-space: nowrap;
}
.menubtn {
	display: inline-block;
	width: 94px;
	height: 49px;
	border-right: 1px solid lightgray;
	text-align: center;
	font-size: 10pt;
	font-weight: bold;
	color: #222222;
}
 */
.menu {
	font-size: 0px;
	width: 750px;
	height: 49px;
	overflow: hidden;
}
.menubtn {
	font-size: 0px;
	padding: 0px; /* 버튼에 padding 
	1px, 6px이 생기는데 padding 0 줘도
	변화없고 왜 생긴 건지도 모르겠음 */
	overflow: hidden; /* 변화 없음 */
}
/* 메뉴 탭 부분 양 옆에 생긴
	빈 공간 없애는 방법??? */
.btn {
	display: inline-block;
	width: 93px;
	height: 49px;
	border: 1px solid lightgray;
	background-color: white;
	font-size: 13px;
	font-weight: bold;
}
#entertain:focus {
	color: white;
	background-color: #e65da0;
}
#entertain:active {
	color: white;
	background-color: #e65da0;
}
#entertain:hover {
	color: #e65da0;
}
#sports:focus {
	color: white;
	background-color: #0147b5;
}
#sports:hover {
	color: #0147b5;
}
#vehicle:focus {
	color: white;
	background-color: #4a94e1;
}
#vehicle:hover {
	color: #4a94e1;
}
#webtoon:focus {
	color: white;
	background-color: #66c971;
}
#webtoon:hover {
	color: #66c971;
}
#economy:focus {
	color: white;
	background-color: #35a252;
}
#economy:hover {
	color: #35a252;
}
#recommend:focus {
	color: white;
	background-color: #5290ff;
}
#recommend:hover {
	color: #5290ff;
}
#recipe:focus {
	color: white;
	background-color: #ebaa00;
}
#recipe:hover {
	color: #ebaa00;
}
#living:focus {
	color: white;
	background-color: #c08d31;
}
#living:hover {
	color: #c08d31;
}
#rbtn {
	font-size: 0;
	width: 0;
	height: 0;
}
input[type="button"] {
	display: inline-block;
	width: 40px;
	height: 40px;
	border: 1px solid lightgray;
	background-color: white;
	font-size: 13px;
	font-weight: bold;
	border-radius: 50%;
	position: relative;
}
#rbtn1 {
	bottom: 44px;
	left: -17px;
}
#rbtn2 {
	bottom: 84px;
	left: 727px;	
}

#s1-1 {
	display: inline-block;
	width: 364px;
	height: 283px;
}
#s1-2 {
	display: inline-block;
	width: 364px;
	height: 283px;
	margin-left: 22px;
}
#s1t {
	display: block;
	text-align: left;
	padding: 16px 18px 0 0;
}
.s1img {
	width: 364px;
	height: 180px;
}
.section1 {
	width: 750px;
	height: 302px;
 	padding: 18px 0;
} /* padding 18px를 넣으면 왜
	section1 아래쪽에 빈 공간이 
	더 생기는지? */

.section2 {
	padding: 18px 0;
}
.s2 {
	margin-top: 18px;
	font-size: 0; /* 변화없음 */
}
.margin0 {
	margin: 0;
}
.margintop2 {
	margin-top: 2px;
}
.margintop4 {
	margin-top: 4px;
}
.margintop5 {
	margin-top: 5px;
}
.margintop6 {
	margin-top: 6px;
}
.s2img {
	width: 170px;
	height: 114px;
	margin-right: 21px;
}
.s2text {
	display: inline-block;
	width: 523px;
	text-align: left;
	padding: 4px 36px 0 0;
	font-size: 0;
	overflow: hidden; /* 변화없음 */
	position: relative;
	bottom: 14px;
}