.frm {
	display: block;
	width: 650px;
	margin: 0 auto;
}

.title {
	background-color: #e91e63;
	padding: 12px; 
	/* 주의: padding은 width 내에 포함되지 않는 값이다! */
	color: white;
	text-align: center;
}

#frm > div {
	font-size: 0;
}

label {
	display: inline-block;
	width: 200px;
	text-align: right;
	font-size: 16pt;
	font-weight: bold;
	color: gray;
	margin-right: 20px;
}

input {
	display: inline-block;
	width: 300px;
	font-size: 16pt;
}

span {
	display: block;
}
button {
	display: inline-block; 
	width: 30%;
	height: 20px;
}

/* 아래는 disabled가 
	적용되어 있는 태그를 선택하라는 의미 */
:disabled {
	background-color: red;
	color: white;
}
/* readonly라는 선택자는 css에
	없기 때문에 아래 내용 적용 안 됨 */
:readonly {
	background-color: dodgerblue;
	color: white;
	border: 0px solid red;	
}
/* 아래와 같이 쓸 수는 있음 */
input[readonly] {
	background-color: dodgerblue;
	color: white;
	border: 0px solid red;	
}